<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var isUserAdmin = User.IsInRole("Admin");
}

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EquiMarketApp</title>
    <link rel="stylesheet" href="~/css/app.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EquiMarketApp.styles.css" asp-append-version="true" />
    <link href="~/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="relative flex flex-wrap items-center content-between py-3 px-4  navbar-toggleable-sm text-black bg-white border-b box-shadow mb-3">
            <div class="container mx-auto sm:px-4 mx-auto sm:px-4 mx-auto sm:px-4 max-w-full">
                <a class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap" asp-area="" asp-controller="Home" asp-action="Index">EquiMarketApp</a>
                <button class="py-1 px-2 text-md leading-normal bg-transparent border border-transparent rounded" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="px-5 py-1 border border-gray-600 rounded"></span>
                </button>
                <div class="flex-grow items-center hidden sm:inline-flex justify-between">
                    <ul class="flex flex-wrap list-reset pl-0 mb-0 flex-grow">
                        <li class="">
                            <a class="inline-block py-2 px-4 no-underline text-gray-900" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="">
                            <a class="inline-block py-2 px-4 no-underline text-gray-900" asp-area="" asp-controller="Ad"
                                asp-action="ApprovedAds">Annonser</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="">
                                <a class="inline-block py-2 px-4 no-underline text-gray-900" asp-area="" asp-controller="Ad" asp-action="Index">Mina
                                    annonser</a>
                            </li>
                        }
                        @if (isUserAdmin)
                        {
                            <li class=" relative">
                                <a class="inline-block py-2 px-4 no-underline w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1 text-gray-900" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class=" absolute left-0 z-50 float-left hidden list-reset	 py-2 mt-1 text-base bg-white border border-gray-300 rounded" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="block w-full py-1 px-6 font-normal text-gray-900 whitespace-no-wrap border-0" asp-area="" asp-controller="Ad" asp-action="Index">Alla
                                            annonser</a></li>
                                    <li><a class="block w-full py-1 px-6 font-normal text-gray-900 whitespace-no-wrap border-0" asp-area="" asp-controller="Ad"
                                            asp-action="NonApprovedAds">Ej godk채nda annonser</a></li>
                                    <li><a class="block w-full py-1 px-6 font-normal text-gray-900 whitespace-no-wrap border-0" asp-area="" asp-controller="Origin"
                                            asp-action="Index">Ursprungsl채nder</a></li>
                                    <li><a class="block w-full py-1 px-6 font-normal text-gray-900 whitespace-no-wrap border-0" asp-area="" asp-controller="County"
                                            asp-action="Index">L채n</a></li>
                                    <li><a class="block w-full py-1 px-6 font-normal text-gray-900 whitespace-no-wrap border-0" asp-area="" asp-controller="City"
                                            asp-action="Index">St채der</a></li>
                                    <li><a class="block w-full py-1 px-6 font-normal text-gray-900 whitespace-no-wrap border-0" asp-area="" asp-controller="Breed"
                                            asp-action="Index">Raser</a></li>
                                    <li><a class="block w-full py-1 px-6 font-normal text-gray-900 whitespace-no-wrap border-0" asp-area="" asp-controller="AdType"
                                            asp-action="Index">Annonstyper</a></li>
                                </ul>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto sm:px-4 mx-auto sm:px-4 mx-auto sm:px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-t footer text-gray-700">
        <div class="container mx-auto sm:px-4 mx-auto sm:px-4 mx-auto sm:px-4">
            &copy; 2024 - EquiMarketApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
