@model EquiMarketApp.Models.Origin

@{
    ViewData["Title"] = "Lägg till land";
}

<form asp-action="Create" class="space-y-12 sm:space-y-16">
    <div>
        <p class="mt-4 max-w-2xl text-sm leading-6 text-gray-600">Fyll i informationen nedan för att lägga till ett nytt land.
        </p>

        <div
            class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="Country"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Namn</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <input asp-for="Country"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        required />
                    <span asp-validation-for="Country" class="text-sm text-red-600"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
        <a asp-action="Index" class="text-sm font-semibold leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 px-3 py-2 rounded-md hover:bg-gray-100">Tillbaka till lista</a>
        <button type="submit"
            class="inline-flex items-center gap-x-1.5 rounded-md bg-green-700 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Skapa
        </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
