@model EquiMarketApp.Models.AdType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AdType</h4>
<hr />
<div class="flex flex-wrap ">
    <div class="md:w-1/3 pr-4 pl-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>
            <input type="hidden" asp-for="AdTypeId" />
            <div class="mb-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" />
                <span asp-validation-for="Name" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <input type="submit" value="Save" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
