@model EquiMarketApp.Models.City

@{
    ViewData["Title"] = "Detaljer stad";
}

<div class="sm:grid sm:grid-cols-5 gap-4 w-full py-2">
    <dt class="sm:col-span-1 font-semibold text-gray-900">
        Namn
    </dt>
    <dd class="sm:col-span-4 text-gray-600">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="sm:col-span-1 font-semibold text-gray-900">
        Län
    </dt>
    <dd class="sm:col-span-4 text-gray-600">
        @Html.DisplayFor(model => model.County.Name)
    </dd>
</div>
<div class="mt-6 flex justify-center items-center gap-x-6">
    <a asp-action="Index"
        class="text-sm font-semibold leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 px-3 py-2 rounded-md hover:bg-gray-100">Tillbaka
        till lista</a>
    <a asp-action="Edit" asp-route-id="@Model?.CityId"
        class="inline-flex items-center gap-x-1.5 rounded-md bg-yellow-50 px-3 py-2 text-sm font-semibold text-yellow-700 shadow-sm ring-1 ring-inset ring-yellow-600/50 hover:bg-yellow-100">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
        </svg>Redigera</a>
</div>