@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Byt lösenord";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="text-base font-semibold leading-7 text-gray-900 mt-4 mb-2">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="flex flex-wrap ">
    <div class="md:w-1/2 pr-4 pl-4">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-600" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Input.OldPassword" class="block text-sm font-medium leading-6 text-gray-900">Nuvarande lösenord</label>
                <input asp-for="Input.OldPassword" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-royalBlue sm:text-sm sm:leading-6" autocomplete="current-password" aria-required="true" placeholder="Ange ditt gamla lösenord" />                
                <span asp-validation-for="Input.OldPassword" class="text-red-600"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.NewPassword" class="block text-sm font-medium leading-6 text-gray-900">Nytt lösenord</label>
                <input asp-for="Input.NewPassword" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-royalBlue sm:text-sm sm:leading-6" autocomplete="new-password" aria-required="true" placeholder="Ange ditt nya lösenord" />                
                <span asp-validation-for="Input.NewPassword" class="text-red-600"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.ConfirmPassword" class="block text-sm font-medium leading-6 text-gray-900">Upprepa nytt lösenord</label>
                <input asp-for="Input.ConfirmPassword" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-royalBlue sm:text-sm sm:leading-6" autocomplete="new-password" aria-required="true" placeholder="Upprepa ditt nya lösenord"/>                
                <span asp-validation-for="Input.ConfirmPassword" class="text-red-600"></span>
            </div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-green-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">Uppdatera lösenord</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
