@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Radera personlig data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="text-base font-semibold leading-7 text-gray-900 mt-4 mb-2">@ViewData["Title"]</h3>

<div class="relative px-3 py-3 mb-4 border rounded bg-orange-200 border-orange-300 text-orange-800" role="alert">
    <p>
        <strong>Att ta bort denna data kommer permanent radera ditt konto, och det går inte att återställa.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-red-600" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <label asp-for="Input.Password" class="block text-sm font-medium leading-6 text-gray-900">Lösenord</label>
                <input asp-for="Input.Password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-royalBlue sm:text-sm sm:leading-6" autocomplete="current-password" aria-required="true" placeholder="Ange ditt lösenord" />                
                <span asp-validation-for="Input.Password" class="text-red-600"></span>
            </div>
        }
        <button class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" type="submit">Radera data och stäng mitt konto</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
