@{
    ViewData["Title"] = "Välkommen till EquiMarket!";
}

<div class="relative overflow-hidden rounded-lg mt-4">
    <img src="~/images/stor_bild.jpg" alt="" class="h-full w-full object-cover object-center">
</div>
<p class="mt-6 text-lg leading-8 text-gray-700 max-w-prose">EquiMarket är en plattform där du kan bläddra bland och
    skapa hästannonser.</p>
<p class="mt-6 text-lg leading-8 text-gray-700 max-w-prose">Använd navigationsmenyn för att se aktuella annonser eller
    registrera dig för att kunna skapa din egen annons. På EquiMarket kan du även kommunicera direkt med andra användare
    via vårt meddelandesystem. Starta en konversation via en annons!</p>
