@{
    ViewData["Title"] = "Hem";
}

<div class="text-center">
    <h1 class="text-4xl">Välkommen</h1>
    <p>På denna webbplats kan du kolla på, och skapa annonser, klicka på annonser i navigerigen för att se alla annonser.</p>
</div>
