@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Åtkomst nekad";
}

<div class="text-center">
    <p class="text-base font-semibold text-red-600">403</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">@ViewData["Title"]</h1>
    <p class="mt-6 text-base leading-7 text-gray-600">Du har inte tillåtelse att hantera denna resurs.</p>
  </div>
