@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<div class="flex flex-wrap ">
    <div class="md:w-1/3 pr-4 pl-4">
        <section>
            <form id="account" method="post" class="mt-6">
                <div asp-validation-summary="ModelOnly" class="text-red-600" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="block text-sm font-medium leading-6 text-gray-900">E-post</label>
                    <input asp-for="Input.Email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-royalBlue sm:text-sm sm:leading-6" autocomplete="username" aria-required="true" placeholder="name@example.com" />                    
                    <span asp-validation-for="Input.Email" class="text-red-600"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password" class="block text-sm font-medium leading-6 text-gray-900">Lösenord</label>
                    <input asp-for="Input.Password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-royalBlue sm:text-sm sm:leading-6" autocomplete="current-password" aria-required="true" placeholder="Lösenord" />                    
                    <span asp-validation-for="Input.Password" class="text-red-600"></span>
                </div>
                <div class="flex items-center mb-4">
                    <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe" class="ml-3 block text-sm leading-6 text-gray-700">                      
                        Kom ihåg mig
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="flex w-full justify-center rounded-md bg-green-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">Logga in</button>
                </div>
                <div class="mt-4">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="font-semibold text-base text-blue-700 hover:text-blue-500">Glömt ditt lösenord?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="font-semibold text-blue-700 hover:text-blue-500">Registrera ny användare</a>
                    </p>
                </div>
            </form>
        </section>
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
