@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registreringsbekräftelse";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="font-semibold text-base text-blue-700 hover:text-blue-500">Klicka här för att bekräfta ditt konto</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

